<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Create A Post</title>
		<style>
		.dashboard-form {
			width: 300px;
			margin: 0 auto;
			font-family: Tahoma, Geneva, sans-serif;
		}
		.dashboard-form h1 {
			text-align: center;
			color: #4d4d4d;
			font-size: 24px;
			padding: 20px 0 20px 0;
		}
		.dashboard-form input[type="password"],
		.dashboard-form input[type="text"] {
			width: 100%;
			padding: 15px;
			border: 1px solid #dddddd;
			margin-bottom: 15px;
			box-sizing:border-box;
		}
		.dashboard-form input[type="submit"] {
			width: 100%;
			padding: 15px;
			background-color: #535b63;
			border: 0;
			box-sizing: border-box;
			cursor: pointer;
			font-weight: bold;
			color: #ffffff;
		}
		</style>
	</head>
	<body>
		<div class="dashboard-form">
			<h1>Post</h1>
			<form action="/blogCreate" method="POST">
				<input type="text" name="name" placeholder="Title">
				<input type="text" name="description" placeholder="Description">
          <button class="btn btn-warning" type="submit">Save</button>
			</form>
		</div>

     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
  </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="./js/dashboard.js"></script>

  {{#if logged_in}}
  {{!-- <script src="/js/login.js"></script> --}}
  {{/if}}

</html>
</body>